
/* Fonts */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Text Decoration */

body {
	font-family: "Montserrat", "Arial", sans-serif;	
	background: #EFE6E4;
	color: #533738;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #533738;
}

.page-header {
	font-size: 16px;
	line-height: 20px;
}

.main-heading {
	font-size: 50px;
	line-height: 62px;
	font-style: normal;
	font-weight: 400;
}

.section-heading {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	text-transform: uppercase;
}

.works-heading {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
}

.button {
	background: #CC8B86;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	padding: 20px 40px;
	border: none;
}

.more {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
}

.advantages {	
	background-color: #8D7370;
	color: #FFFFFF;
}

.form {

}


/* Flex and Grid */

.visually-hidden {
	display: none;
}