@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {	
	font-family: "Montserrat", "Arial", sans-serif;
	line-height: 25px;
	/* background: #EFE6E4; */
	background: #E5E5E5;
	color: #533738;
	font-size: 18px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #533738;
}

.main-heading {
	font-weight: 400;
	font-size: 40px;
}

.section-heading {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
}

.button {
	background: #CC8B86;	
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	padding: 20px 40px;
}

